.loaderContainer{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.card-body{
    max-width: 200px;
    margin: 10px;
    max-height: 200px;
    border: 1px solid grey;
    border-radius: 10px;
    overflow: hidden; 
}
.card-body:hover{
    overflow-y: scroll;
}
.card-body *{
    margin: 10px;
}